name: Merge-to-Main
on:
  push:
    branches:
      - main
  # allows you to manually trigger this in GH actions
  workflow_dispatch:

jobs:
  Test_And_Audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install Packages
        run: npm ci --ignore-scripts

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN_DEV }}
